html, body{
    width: 100%;
    padding: 0%;
    margin: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(0, 0, 0, 0.335);
    background-blend-mode: darken;
    background-image: url(recourses/fondo-pantalla-ilustrado_53876-18365.jpg);
    background-repeat: repeat-y;
    background-size: contain;
    align-items: center;
    display: flex;
    flex-direction: column;
}
a span, a   {
    color: rgb(208, 205, 205);
    cursor: pointer;
    text-decoration: none;
}

.imagen img{
    height: 100%;
    width: 100%;
}

.header_main{
    width: 90%;
    height: 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.navbar{
    width: 70%;
    height: 100%;
    box-sizing: border-box;
    background-color: rgba(51, 39, 62, 0.831);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.navbar_item{
    width: max-content;
    padding: 10px;
    align-items: center;
    justify-content: center;
    height: 40%;
    box-sizing: border-box;
    background-color: rgba(73, 19, 124, 0.604);
    display: flex;
    border-radius: 20px;
}

.box_container{
    background-color: rgba(14, 14, 14, 0.775);
    width: 98%;
    padding: 1% ;
    height: max-content;
    box-sizing: border-box;
    margin: 1%;
    border-radius: 10px;
    box-shadow: 0px 0px 2px rgb(255, 255, 255);                                                                             
    
}

.separator_horizontal{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    height: 4px;
    background-color: rgb(255, 255, 255);
}

#header_box{
    align-items: center;
    display: flex;
}

#social_networks_box{
    width: 10%;
    height: 100%;
}
#content_box{
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    width: 90%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#header_text{
    box-shadow: 0px 0px 2px black;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    height: 75%;
    justify-content: space-around;
    background-color: rgba(5, 53, 65, 0.696);
}

#img_header_box{
    width: 100%;
    height: 100%;
}

.title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 32px;
}
.text00{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    color: rgb(196, 196, 196);
    font-size: 22px;
}
.text01{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    color: rgb(143, 143, 143);
    font-size: 16px;
}

#header_buttons{
    background-color: transparent;
    height: max-content;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.button00{
    color: white;
    margin: 10px;
    width: max-content;
    height: max-content;
    box-sizing: border-box;
    padding: 20px;
    background-color: rgba(255, 162, 95, 0.502);
    box-shadow: 0px 0px 2px rgb(0, 0, 0);
}

.button01{
    color: white;
    margin: 10px;
    width: max-content;
    height: max-content;
    box-sizing: border-box;
    padding: 20px;
}

.red{
    color: red;
}

#img_header_00{
    position: relative;
    width: 80%;
    height: 100%;
    top: 0px;
    left: 80px;
}

#container_text_00{
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

#container_text_00_left{
    height: 100%;
    width: 60%;
}
#container_text_00_right{
    height: 100%;
    width: 40%;
}

#container_text_00_center{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#container_img, #container_img span{
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
}

#img_a_00{
    overflow: hidden;
    border-radius: 200px;
    height: 200px;
    width: 200px;

}
#container_00{
    width: 90%;
}